torch==2.0.1
torchvision==0.15.2
pytorch-lightning==1.5.0
omegaconf==2.1.1
open_clip_torch==2.0.2
transformers==4.46.3
einops
albumentations
opencv-python
Pillow
numpy
pandas
scipy
scikit-image
shapely
timm
tqdm
